.join {
    display: flex;
    padding: 0 2rem;
    gap: 25rem;
}

.left-join {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative  ;
}

.left-join hr {
    position: absolute;
    width: 10.5rem;
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: -10px 0;
}

.join-heading div {
    display: flex;
    gap: 1rem;
}

.right-join {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    align-items: flex-end;
}

.email-container {
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 2rem;
}

.email-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgray);
}

::placeholder {
    color: var(--lightgray);
}

.btn-join {
    background-color: var(--orange);
    color: #fff;
}